<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn NodeJS</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/create">Create users</a>
    <a class="active">Delete users</a>
  </div>
  <div class="form">
    <form action="/remove-user" method="post">
      <fieldset>
        <legend>Delete a user</legend>
        <div class="input-group d-none">
          <label>Id: </label>
          <input type="text" name="id" value="<%=user.id%>">
        </div>
        <div class="input-group">
          <label>Are you sure to delete this user: </label>
          <input type="text" name="email" value="<%=user.email%>">
        </div>
        <div>
          <button style="width: 100px" type="submit" class="btn-submit">Confirm</button>
        </div>
      </fieldset>
    </form>
  </div>

</body>
</html>